nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em 0 1.5em;
}

.nav-tweet-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tweet i {
  margin-left: 0.5em;
}

.nav-title {
  display: flex;
  flex-direction: column;
  font-family: "Bungee", sans-serif;
}