.tweet {
  border: 2px solid black;
  padding: 5px;
  margin: 20px;
  width: 100%;
}

.tweet:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icons i:hover {
  color: #face;
}

.tweet-header {
  background-color: rgba(64, 86, 161, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-handle {
  opacity: 0.5;
}

.tweet-text {
  border-radius: 5px;
  font-size: 30px;
  background-color: rgb(201, 190, 190);
  padding: 40px;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}